*.iws
*.iml
*.ipr
target/
.settings
.project
.classpath
.externalToolBuilders
*.class
*svn/
.idea/
*.jar
~*
node_modules/
**/static/dll/
**/static/krakenWeb/
yarn-error.log
spark/checkpoint
web/src/main/js/krakenWeb/dist
web/src/main/js/krakenWeb/yarn.lock
web/src/main/js/krakenWeb/package-lock.json
app/dependency-reduced-pom.xml
streaming/dependency-reduced-pom.xml
spark
