<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.farmerspace.dal.dao.mapper.book.UserEntityMapper">
  <resultMap id="BaseResultMap" type="cn.farmerspace.dal.dao.entity.book.UserEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="university" jdbcType="VARCHAR" property="university" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="academy" jdbcType="VARCHAR" property="academy" />
    <result column="time_enrollment" jdbcType="VARCHAR" property="timeEnrollment" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="wx_id" jdbcType="VARCHAR" property="wxId" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="addr_province" jdbcType="VARCHAR" property="addrProvince" />
    <result column="addr_city" jdbcType="VARCHAR" property="addrCity" />
    <result column="addr_dormitory" jdbcType="VARCHAR" property="addrDormitory" />
  </resultMap>

</mapper>